<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jie.sign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/face"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/face"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MeetingCheckActivity"/>
        <activity android:name=".View.MeetingCheckDetailMemberActivity"/>
        <activity android:name=".View.MeetingCheckDetailActivity"/>
        <activity android:name=".View.MeetingRoomActivity"/>
        <activity android:name=".View.MeetingRoomAddActivity"/>
        <activity android:name=".View.AddMeeting.MeetingAddActivity"/>
    </application>

</manifest>